ProjetoEFCoreDBFirst/ProjetoEFCoreDBFirst/bin/Debug/netcoreapp3.1/appsettings.Development.json
ProjetoEFCoreDBFirst/ProjetoEFCoreDBFirst/bin/Debug/netcoreapp3.1/appsettings.json
ProjetoEFCoreDBFirst/ProjetoEFCoreDBFirst/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.JsonPatch.dll
ProjetoEFCoreDBFirst/ProjetoEFCoreDBFirst/bin/Debug/netcoreapp3.1/Microsoft.AspNetCore.Mvc.NewtonsoftJson.dll
ProjetoEFCoreDBFirst/ProjetoEFCoreDBFirst/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
ProjetoEFCoreDBFirst/ProjetoEFCoreDBFirst/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
ProjetoEFCoreDBFirst/ProjetoEFCoreDBFirst/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
ProjetoEFCoreDBFirst/ProjetoEFCoreDBFirst/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Design.dll
ProjetoEFCoreDBFirst/ProjetoEFCoreDBFirst/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
ProjetoEFCoreDBFirst/ProjetoEFCoreDBFirst/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.Design.dll
ProjetoEFCoreDBFirst/ProjetoEFCoreDBFirst/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Relational.dll
ProjetoEFCoreDBFirst/ProjetoEFCoreDBFirst/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Abstractions.dll
ProjetoEFCoreDBFirst/ProjetoEFCoreDBFirst/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Caching.Memory.dll
ProjetoEFCoreDBFirst/ProjetoEFCoreDBFirst/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Abstractions.dll
ProjetoEFCoreDBFirst/ProjetoEFCoreDBFirst/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.Binder.dll
ProjetoEFCoreDBFirst/ProjetoEFCoreDBFirst/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Configuration.dll
ProjetoEFCoreDBFirst/ProjetoEFCoreDBFirst/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.Abstractions.dll
ProjetoEFCoreDBFirst/ProjetoEFCoreDBFirst/bin/Debug/netcoreapp3.1/Microsoft.Extensions.DependencyInjection.dll
ProjetoEFCoreDBFirst/ProjetoEFCoreDBFirst/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.Abstractions.dll
ProjetoEFCoreDBFirst/ProjetoEFCoreDBFirst/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Logging.dll
ProjetoEFCoreDBFirst/ProjetoEFCoreDBFirst/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Options.dll
ProjetoEFCoreDBFirst/ProjetoEFCoreDBFirst/bin/Debug/netcoreapp3.1/Microsoft.Extensions.Primitives.dll
ProjetoEFCoreDBFirst/ProjetoEFCoreDBFirst/bin/Debug/netcoreapp3.1/MySqlConnector.dll
ProjetoEFCoreDBFirst/ProjetoEFCoreDBFirst/bin/Debug/netcoreapp3.1/Newtonsoft.Json.Bson.dll
ProjetoEFCoreDBFirst/ProjetoEFCoreDBFirst/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
ProjetoEFCoreDBFirst/ProjetoEFCoreDBFirst/bin/Debug/netcoreapp3.1/Pomelo.EntityFrameworkCore.MySql.Design.dll
ProjetoEFCoreDBFirst/ProjetoEFCoreDBFirst/bin/Debug/netcoreapp3.1/Pomelo.EntityFrameworkCore.MySql.dll
ProjetoEFCoreDBFirst/ProjetoEFCoreDBFirst/bin/Debug/netcoreapp3.1/Pomelo.JsonObject.dll
ProjetoEFCoreDBFirst/ProjetoEFCoreDBFirst/bin/Debug/netcoreapp3.1/ProjetoEFCoreDBFirst.deps.json
ProjetoEFCoreDBFirst/ProjetoEFCoreDBFirst/bin/Debug/netcoreapp3.1/ProjetoEFCoreDBFirst.dll
ProjetoEFCoreDBFirst/ProjetoEFCoreDBFirst/bin/Debug/netcoreapp3.1/ProjetoEFCoreDBFirst.exe
ProjetoEFCoreDBFirst/ProjetoEFCoreDBFirst/bin/Debug/netcoreapp3.1/ProjetoEFCoreDBFirst.pdb
ProjetoEFCoreDBFirst/ProjetoEFCoreDBFirst/bin/Debug/netcoreapp3.1/ProjetoEFCoreDBFirst.runtimeconfig.dev.json
ProjetoEFCoreDBFirst/ProjetoEFCoreDBFirst/bin/Debug/netcoreapp3.1/ProjetoEFCoreDBFirst.runtimeconfig.json
ProjetoEFCoreDBFirst/ProjetoEFCoreDBFirst/bin/Debug/netcoreapp3.1/System.Collections.Immutable.dll
ProjetoEFCoreDBFirst/ProjetoEFCoreDBFirst/bin/Debug/netcoreapp3.1/System.Diagnostics.DiagnosticSource.dll
ProjetoEFCoreDBFirst/ProjetoEFCoreDBFirst/obj/Debug/netcoreapp3.1/apphost.exe
ProjetoEFCoreDBFirst/ProjetoEFCoreDBFirst/obj/Debug/netcoreapp3.1/ProjetoEFCoreDBFirst.csproj.CopyComplete
ProjetoEFCoreDBFirst/ProjetoEFCoreDBFirst/obj/Debug/netcoreapp3.1/ProjetoEFCoreDBFirst.csproj.CoreCompileInputs.cache
ProjetoEFCoreDBFirst/ProjetoEFCoreDBFirst/obj/Debug/netcoreapp3.1/ProjetoEFCoreDBFirst.csproj.FileListAbsolute.txt
ProjetoEFCoreDBFirst/ProjetoEFCoreDBFirst/obj/Debug/netcoreapp3.1/ProjetoEFCoreDBFirst.dll
ProjetoEFCoreDBFirst/ProjetoEFCoreDBFirst/obj/Debug/netcoreapp3.1/ProjetoEFCoreDBFirst.genruntimeconfig.cache
ProjetoEFCoreDBFirst/ProjetoEFCoreDBFirst/obj/Debug/netcoreapp3.1/ProjetoEFCoreDBFirst.MvcApplicationPartsAssemblyInfo.cache
ProjetoEFCoreDBFirst/ProjetoEFCoreDBFirst/obj/Debug/netcoreapp3.1/ProjetoEFCoreDBFirst.pdb
ProjetoEFCoreDBFirst/ProjetoEFCoreDBFirst/obj/Debug/netcoreapp3.1/ProjetoEFCoreDBFirst.RazorTargetAssemblyInfo.cache
ProjetoEFCoreDBFirst/ProjetoEFCoreDBFirst/obj/Debug/netcoreapp3.1/staticwebassets/ProjetoEFCoreDBFirst.StaticWebAssets.Manifest.cache
ProjetoEFCoreDBFirst/ProjetoEFCoreDBFirst/obj/Debug/netcoreapp3.1/staticwebassets/ProjetoEFCoreDBFirst.StaticWebAssets.xml
